@import "util/mixins.scss";
@import "util/colors.scss";
@import "util/animations.scss";

@import "pages/docs.scss";
@import "pages/form.scss";
@import "pages/input.scss";
@import "pages/landing.scss";
@import "pages/nav.scss";
@import "pages/sidenav.scss";
@import "pages/stages.scss";

@import "elements/buttons.scss";
@import "elements/logos.scss";

body {
  background-color: $transparent_black_light;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a:-webkit-any-link {
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

iframe {

  @include respond(500px){
  
    pointer-events: none
  }
  @include respond(340px){

    pointer-events: none
  }
}