#tech-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tech-list-item {

    border: solid black 2px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2vh;
    margin-right: 2vh;
    min-width: 30vh;

    > img {
        height: 15vh;
        margin: 3vh
    }
}