#logo {
  padding-top: 2vh;
  height: 6vh;
  margin-right: 3vw;
  color: white;

  @include respond(12450px){
    padding-left: 0;
  }
  @include respond(1150px){
    height: 4vh;
    font-size: 1.5em;
    margin-left: 2vw;
  }
}

.code-background {
  background-color: rgb(248, 242, 255);
  padding: 1em;
}

code {
  word-wrap: break-word;

  @include respond(1150px){
    
    #text{
      overflow-wrap: break-word;
    }
  }
}

.default-theme .repo-card .header strong a {
  margin-left: 20%;
}